<div class="container">
  <div class="row" id="header">
    <div class="col-8" id="carousel">
      <div class="carousel">
        <app-carousel [chateau]="chateau_id"></app-carousel>
      </div>
    </div>
    <div class="col-4" id="name">
      <h1>Nom du chateau a implementer</h1>

      <p>presentation du chateau !</p>
    </div>
  </div>
</div>
<div class="container" id="core">
  <div class="row">
    <div class="col-6">
     <p>Map a mettre ici </p>
    </div>

    <div class="col-2">
      <h1>adresse du chateau</h1>
    </div>
  </div>
</div>

<div class="container" id="commentaire">
  <div class="row" >
    <div class="col-8">
      <app-commentaire-form> [chateau_id]="chateau_id" ></app-commentaire-form>
    </div>
  </div>
</div>
<div class="row">
  <div class="row">
    <app-commentaire-detail *ngFor="let commentaire of commentaires " [commentaire]="commentaire" ></app-commentaire-detail>
  </div>
</div>
