.app {
  width: auto;
  height: auto;
  }

.app-header{
  width: auto;
  height: auto;
}

.router-outlet{
  margin-top: 1rem;
  margin-left: 1rem;
  @media only screen and (min-width: 600px){
    margin-left: 250px;
  }

}
