<div class="row">
  <div class="container">
    <mat-card class="Information-card">
      <mat-card-header>
        <mat-card-title>Nouveau commentaire</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h1>Nom : {{commentaire.user.firstName}} Prénom : {{ commentaire.user.lastName }}</h1>
        <p>
          {{commentaire.commentaire}}
        </p>

        <form [hidden]="moderate" [formGroup]="deleteForm" (ngSubmit)="onSubmit()">
          <button type="submit" class="btn btn-danger">delete</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
