
<div class="row">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h1>Nom : {{commentaire.user.firstName}}  Prénom : {{ commentaire.user.lastName }}</h1>
      </div>
      <div class="card-body">
        <p>
          {{commentaire.commentaire}}
        </p>
      </div>
      <form [hidden]="moderate" [formGroup]="deleteForm" (ngSubmit)="onSubmit()" >
        <button type="submit" class="btn btn-danger">delete</button>
      </form>
    </div>
  </div>
</div>
