
.carousel {
  position: relative;
  overflow: hidden;
  border-radius: 0.5em;

}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5em;
}

.slide:hover {
  transform: scale(1.025);
}

