<ngb-carousel #carousel [interval]="10000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
  <ng-template ngbSlide *ngFor="let files of slidestores; let i = index">
      <div class="picsum-img-wrapper">
        <app-image [slide]="slidestores[i]"></app-image>
      </div>
  </ng-template>
</ngb-carousel>


<!--
<div id="carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">

  <div class="carousel-indicators" >
    <button type="button" data-bs-target="#carousel" *ngFor="let files of slidestores; let i = index"  data-bs-slide-to= i class="active" aria-current="true" aria-label="Slide 1"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <div class="loop" *ngFor="let files of slidestores; let i = index">
      <app-image *ngIf="i === currentSlide" [slide]="slidestores[i]"></app-image>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
-->
